body {
  font-family: "Lato", sans-serif;
  margin: 0px;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 18px;
}

.left-side {
  display: flex;
}

.nav-wrapper > .left-side > div {
  margin-right: 20px;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.nav-link-wrapper {
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}
.nav-link-wrapper2 {
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.active-nav-link {
  border-bottom: 1px solid black;
}

.active-nav-link a {
  color: black !important;
}

.nav-link-wrapper a {
  color: #8a8a8a;
  text-decoration: none;
  transition: color 0.5s;
}
.nav-link-wrapper2 a {
  color: #8a8a8a;
  text-decoration: none;
  transition: color 0.5s;
}
.nav-link-wrapper:hover {
  border-bottom: 1px solid black;
}
.nav-link-wrappe2r:hover {
  border-bottom: 1px solid white;
}
.nav-link-wrapper a:hover {
  color: black;
}
.nav-link-wrapper2 a:hover {
  color: white;
}
.portfolio-items-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  
}

.portfolio-item-wrapper {
  position: relative;
}

.portfolio-img-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  width: 100%;
}

.portfolio-img-background1 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 363px;
  width: 100%;
}

.portfolio-img-background_last {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 60px;
  width: 100%;
}
.img-text-wrapper {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
}
.img-text-wrapper1 {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  padding-left: 700px;
  padding-right: 100px;
}
.img-text-wrapper2 {
	position: absolute;
	align-items: center;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  height: 5%;
  padding-left: 100px;
  padding-right:800px;
}
.img-text-wrapper .subtitle {
  transition: 1s;
  color: transparent;
}
.img-text-wrapper1 .subtitle1 {
  transition: 1s;
  color: transparent;
}

.img-text-wrapper1 .Title {

  color: transparent;
  font-size: 15px;
}

.image-blur {
  transition: 1s;
  filter: brightness(10%);
}

.img-text-wrapper:hover .subtitle {
  color: lightseagreen;
  font-weight: 600;
}
.img-text-wrapper1:hover .subtitle1 {
  color: white;
  font-weight: 900;
}
.img-text-wrapper1:hover .Title {
  color: white;
  font-size: 40px;
}

.logo-wrapper img {
  width: 30%;
  margin-bottom: 5px;
}
.logo-wrapper1 img {
  width: 30%;
  margin-bottom: 0px;
  margin-top: 90px;

}
.two-column-wrapper {
  display: grid;
  grid-template-columns: 1fr;
}

.profile-image-wrapper img {
  width: 100%
   
}

.profile-content-wrapper {
  padding: 30px;
  position: absolute;
  top: 0;
  display: flex;
  height: 100%;
  padding-left: 1000px;
  padding-right: 0px;
   margin-top: 500px;
}
.profile-content-wrapper2 {
  padding: 30px;
  position: absolute;
  top: 0;
  height: 100%;
  padding-left: 1160px;
  padding-right: 120px;
   margin-top: 500px;
   color: white;
}
.profile-content-wrapper h1 {
  color: lightblue;
}
.profile-content-wrapper h2 {
  color: white;
}